* {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 20px; }

@media only screen and (min-width: 768px) {
  #container {
    width: 50%;
    margin: 0 auto; } }

#container h1 {
  color: rgba(39, 192, 192, 0.8); }

#inputSection {
  width: 100%;
  height: 30px;
  margin-bottom: 20px; }
  #inputSection input[type=text] {
    width: 89%;
    height: 100%;
    margin: 0;
    padding: 0;
    float: left; }

#add {
  width: 10%;
  background-color: rgba(39, 192, 192, 0.8);
  margin: 0;
  border: none;
  font-size: 30px;
  vertical-align: middle;
  display: inline-block; }

#taskList {
  list-style: none;
  padding-left: 0; }
  #taskList li {
    background-color: rgba(39, 192, 192, 0.8);
    padding: 5px;
    margin-bottom: 5px;
    position: relative; }

.deleteBtn {
  border: none;
  color: red;
  background-color: transparent;
  cursor: pointer;
  float: right;
  font-size: 30px;
  position: absolute;
  right: 5px;
  top: 0;
  text-align: center; }

.taskDone {
  background-color: #817a7a !important; }
