@import "_variables.scss";

*{
    box-sizing: border-box;
}

body{
    background-color: $BgColor;
    color: $FontColor;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container{
    width: 98%;
    margin: 1% 1%;
}

#container h1{
    text-align: center;
    font-size: 2em;
    color: rgba(39, 192, 192, 0.8); 
}

#inputSection {
    width: 100%;
    margin-top: 4%;
}
  
  #inputSection input[type=text]{
    width: 90%;
    float: left;
    height: 30px;
    border: none;
    padding: 0 1%;
  }
  
  #add {
    width: 10%;
    height: 30px;
    background-color: rgba(39, 192, 192, 0.8);
    font-size: 1.5em;
    margin: 0;
    border: none;
    display: block; 
  }
  
  #add:hover{
    background-color: rgba(39, 192, 192, 0.7);
  }
  
  #taskList {
    width: 100%;
    list-style: none;
    margin-top: 4%;
  }
  
  #taskList li {
    width: 100%;
    min-height: 30px;
    background-color: rgba(39, 192, 192, 0.8);
    margin-bottom: 1%;
    position: relative;
    display: block;
    padding: 1% 10% 1% 2%;
  }
  
  .deleteBtn {
    border: none;
    color: rgb(209, 66, 66);
    background-color: transparent;
    cursor: pointer;
    float: right;
    font-size: 1.5em;
    position: absolute;
    right: 3px;
    top: 2px;
    text-align: center;
    display: block;
}
  
.deleteBtn:hover{
    font-size: 1.7em;
    color: rgb(167, 25, 25);
}
  
  .taskDone {
    background-color: #817a7a !important; 
  }
  
  
  @media only screen and (min-width: 650px) {
    #container {
      width: 50%;
      margin: 0 auto; 
    } 
  }