@import "_variables.scss";

body{
    margin: 0;
    padding: 0;
    background-color: $MainBgColor;
    color: $FontColor;
    text-align: center;
    font-size: $FontSize;
}

#container{
    width: 70%;
    margin: 0 auto;
}

#inputSection{
    width: 100%;
    height: 30px;
    input[type=text]{
        width: 70%;
        padding-left: 20px;
        height: 100%;
    }
}

#add{
    width: 20%;
    height: 100%;
    background-color: aqua;
    margin: 0;
}

#taskList{
    list-style: none;
}

.deleteBtn{
    border: none;
    margin-left: 5px;
    color: red;
    background-color: black;
    cursor: pointer;
}